<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ModuleName" value="cdmdotnet.logging.Tests.Integration" />
		<add key="Instance" value="All" />

		<add key="EnableInfo" value="true" />
		<add key="EnableDebug" value="true" />
		<add key="EnableWarning" value="true" />
		<add key="EnableError" value="true" />
		<add key="EnableFatalError" value="true" />
		<add key="EnableThreadedLogging" value="false" />
		<add key="SqlDatabaseLogsConnectionStringName" value="SqlDatabaseLogs" />
	</appSettings>
	<connectionStrings>
		<add name="SqlDatabaseLogs" connectionString="Initial Catalog=Logs;Data Source=localhost\MSSQLSERVER2014;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>